{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>IPO Dashboard India</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">Total IPO</div>
                                <div class="card-body">
                                    <h5 class="card-title">30</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white bg-success mb-3">
                                <div class="card-header">IPO in Gain</div>
                                <div class="card-body">
                                    <h5 class="card-title">20</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white bg-danger mb-3">
                                <div class="card-header">IPO in Loss</div>
                                <div class="card-body">
                                    <h5 class="card-title">9</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h4>Quick Links</h4>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://www.nseindia.com" target="_blank">NSE India</a></li>
                                <li class="list-group-item"><a href="https://www.bseindia.com" target="_blank">BSE India</a></li>
                                <li class="list-group-item"><a href="https://www.sebi.gov.in" target="_blank">SEBI</a></li>
                                <li class="list-group-item"><a href="https://www.moneycontrol.com" target="_blank">Money Control</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h4>Main Board IPO</h4>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card text-white bg-warning mb-3">
                                                <div class="card-header">Upcoming</div>
                                                <div class="card-body">
                                                    <h5 class="card-title">15</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card text-white bg-info mb-3">
                                                <div class="card-header">New Listed</div>
                                                <div class="card-body">
                                                    <h5 class="card-title">25</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card text-white bg-secondary mb-3">
                                                <div class="card-header">Ongoing</div>
                                                <div class="card-body">
                                                    <h5 class="card-title">2</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary">View Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
